body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }
  
 
  h2 {
    margin: -1.5rem;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #8b5cf6;
    background-image: linear-gradient(120deg, #8b5cf6, #4f46e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

  button {
    margin: -0.625rem;
    padding: 0.625rem;
    color: #6b7280;
  }
  
 
  .flex {
    gap: 1.5rem;
  }
  
  a {
    color: #8b5cf6;
    background-image: linear-gradient(120deg, #8b5cf6, #4f46e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
  }
  
 
  .Dialog.Panel {
    position: fixed;
    inset-y: 0;
    right: 0;
    z-index: 50;
    width: 100%;
    overflow-y: auto;
    background-color: white;
    padding: 1.5rem;
  }
  

  button {
    margin: -0.625rem;
    padding: 0.625rem;
    color: #6b7280;
  }
  
.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 1200px;
    background-color: white;
    border: 1px solid black;
  }
  
  .signup-form-container {
    flex: 1;
    margin-top: 3rem;
    max-width: 44rem;
    width: 800px;
  }
  
  .signup-form {
    margin-block: 1.25rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    font-weight: bold;
    color: purple;
  }
  
  .form-input {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid purple;
    border-radius: 5px;
  }
  
  .toggle-password-btn {
    background: linear-gradient(to right, purple, blue);
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  
  .role-select {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid purple;
    border-radius: 5px;
  }
  
  .signup-btn {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    background: linear-gradient(to right, purple, blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-to-login-btn {
    width: 100%;
    padding: 0.5rem;
    background: linear-gradient(to right, purple, blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    color: white;
    transition-duration: 150ms;
    font-weight: bold;
    margin-top: 0.5rem;
    text-decoration: none;
  }

.signin-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 1200px;
    margin: auto;
    border: 1px solid black;
  }
  
  .signin-form {
    
    width: 800px;
    height: 80vh;
    flex: 1;
    margin-top: 6rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.25rem;
    background-color: #374151;
  
  }
  
  .signin-input {
    width: 100%;
    padding: 0.5rem;
    color: #42526b;
    outline: none;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
    border-radius: 0.375rem;
  }
  
  .signin-input:focus {
    border-color: #6366F1;
  }
  
  .signin-button {
    width: 60%;
    padding: 0.5rem;
    color: #F9FAFB;
    font-weight: 500;
    margin-bottom: 1rem;
    cursor: pointer;
    gap: 10px;
    background: linear-gradient(to right, purple, blue);
    border-radius: 0.375rem;
    transition: all 0.15s ease-in-out;
  }
  
  .signin-button:hover {
    background-color: #645fbe;
  }
  
  .signin-recaptcha {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .signin-forgot-password {
    text-align: center;
  }
  
  .signin-switch-to-signup {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    color: #1F2937;
    font-weight: 500;
    transition: all 0.15s ease-in-out;
  }
  
  .signin-switch-to-signup span {
    color: #6366F1;
  }
  
  .signin-switch-to-signup svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #6366F1;
    transition: all 0.15s ease-in-out;
  }
.event-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .event-form h2 {
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(to right, #6366F1, #8B5CF6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .event-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4B5563;
  }
  
  .event-form input[type="text"],
  .event-form input[type="date"],
  .event-form input[type="time"],
  .event-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CBD5E0;
    border-radius: 4px;
    outline: none;
  }
  
  .event-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, #6366F1, #8B5CF6);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .event-form button[type="submit"]:hover {
    background: linear-gradient(to right, #4F46E5, #6B46C1);
  }

.container {
    margin-top: 8rem;
    margin-bottom: 10rem;
    max-width: 72rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-heading {
    color: #1F2937;
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
  }
  
  .section-subheading {
    color: #6B7280;
    max-width: 36rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    text-align: center;
  }
  
  .browse-events-button {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
  
  .browse-events-button button {
    padding: 0.875rem 7rem;
    width: 100%;
    background-color: #6366F1;
    color: #F9FAFB;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s ease;
  }
  
  .browse-events-button button:hover {
    background-color: #4F46E5;
  }
  
  .carousel-container {
    margin-top: 1rem;
    text-align: center;
  }
  
  .carousel-image {
    border-radius: 0.375rem;
    width: 100%;
    height: 48vh;
  }
  
 


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
 
  .form-group {
    margin-bottom: 1rem;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  input[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-image: linear-gradient(120deg, #8b5cf6, #4f46e5);
    color: white;
    margin: 0.25rem;
  }
  

  input[type="submit"] {
    cursor: pointer;
  }
  
.billing-container {
    margin: auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
  }
  

  .billing-form {
    margin-bottom: 20px;
  }
  
 
  .billing-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  
  .billing-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #8b5cf6;
    outline: none;
  }
  
 
  .billing-form input[type="submit"] {
    background-image: linear-gradient(120deg, #8b5cf6, #4f46e5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .billing-form input[type="submit"]:hover {
    filter: brightness(1.2);
  }
 
  .billing-details {
    margin-top: 20px;
    text-align: center;
  }
  
 
  .billing-details .detail-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
 
  .billing-details .detail-card button {
    margin-left: 5px;
    background-image: linear-gradient(120deg, #8b5cf6, #4f46e5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .billing-details .detail-card button:hover {
    filter: brightness(1.2);
  }
  
  