#root{
  background-color: rgb(172, 172, 172);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* border: 2px solid yellow; */

}
#home{
  /* border: 2px solid rgb(59, 94, 6); */
  height: 100vh;
  justify-content: center;
  
}

#nav{
  width: 100%;
  margin: 0;
  /* border: 2px solid purple; */
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(5, 59, 43);
  align-items: center;
}

.logo{
  font-size: 42px;
  font-family: helvetica;
  font-style: italic;
}

#log-list{
  color: white;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

#log-list:hover{
  font-size: 30px;
}

.nav-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  font-size: 20px;
  margin: 5px;
  width: 450px;
  height: 40px;
  gap: 80px;
  /* border: 1px solid red; */
  color: rgb(255, 255, 255);

}
#explore-pg{
  max-width: 1490px;
  /* border:2px solid green; */
  height: 80px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#cards{
  width: 100px;
  height: 30vh;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  display: block;
  flex-direction: column;
  border: 2px solid black;
}
#order-btn{
  color:aqua;
  
}
.log-container {
  max-width: 60%;
  margin: auto;
  padding: 50px;
  height: 75vh;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 15px;
  
}

input {
  width: 98%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
}

button {
  padding: 10px;
  margin-top: 10px; 
  background-color: #050505;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 25px;
}

button:hover {
  background-color: #282828; 
}

.signup-form button {
  margin-top: 10px; 
  background-color: #050505; 
}

.signup-form button:hover {
  background-color: #282828; 
}

.signup-form-container {
  max-width: 65%;
  font-size: 20px;
  margin: auto;
  padding: 20px;
  height: 75vh;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form {
  display: flex;
  flex-direction: column;
}