[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
honcho = "*"
gunicorn = "*"
python-dotenv = "*"
importlib-metadata = "*"
psycopg2 = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-cors = "*"
flask-mail = "*"
flask = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
api-jwt = "*"
requests = "*"
install = "*"
faker = "*"
pipenv = "*"
werkzeug = "*"
datetime = "*"
psycopg2-binary = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
