.dash_container{
    position: relative;
    margin-top: 7%;
}

.admin_sidebar{
    color: white;
    background-color: rgba(30, 30, 30, 0.9);
    float: left;
    margin-left: 1%;
}

.admin_sidebar a{
    transition: all 0.1s;
}

.admin_sidebar a:hover{
    background-color: rgb(70, 120, 230);
}

.admin_sidebar .active {
    background-color: rgb(70, 120, 230);
}